<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>visionBoard | Home page</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.0.0/fonts/remixicon.css" rel="stylesheet" />

    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>

    <div class="main w-full h-full  overflow-hidden">

        <div class="nav w-full [15%] flex  justify-between px-8 py-6 ">
            <div class="part1 flex gap-1">
                <div id="logo" class="x8f INd _O1 KS5 mQ8 OGJ YbY " style="height:48px;width:48px">
                    <img class="rounded-full" src="/images/uploads/Black and White Circle Typographic Logo.png" alt="">
                </div>

                <div class="allbtns ">
                    <a href="/home" class="hide buttons  p-3 ">Home</a>

                    <a id="create" href="/createpin" class="buttons  p-3">Create</a>

                </div>
            </div>

            <div id="searchdiv" class="search flex gap-2 ml-2 h-full overflow-hidden items-center px-4 ">
                <i id="search" class="ri-search-line"></i>
                <input id="searchinput" type="text" placeholder="search">
                <i id="cancel" class="ri-close-circle-fill text-xl hidden"></i>
            </div>


            <div class="part2-nav flex gap-5 mb-10 ">
                <a href="/profile" id="firstletter" class="nav-2 capitalize text-lg"></a>
                <a id="set" class="nav-2"><i class="ri-arrow-down-s-line text-lg"></i></a>

            </div>

        </div>



        <div id="settings" class="main-overlay hidden py-4 pl-4 w-[20vmax] rounded-2xl ">

            <p class="ml-1">cuurently in</p>
            <div class="top w-full mt-3 flex gap-4 ">

                <div class="profile w-[4.5vmax] h-[4.5vmax] rounded-full overflow-hidden">
                    <img class="w-full h-full object-cover" src="<%= user.profile %>" alt="">
                </div>

                <div class="right mt-1 leading-none">
                    <h3 class="font-medium text-sm leading-none ">
                        <%= user.username %>
                    </h3>
                    <p class="font-light mt-1 text-sm">Personal</p>

                </div>


            </div>


            <div class="account mt-4">
                <p class="text-sm ml-1">Your accounts</p>
                <a href="/add/accounts">
                    <h3 class="hover px-2 py-2 text-lg mt-3 font-semibold cursor-pointer">Add account</h3>
                </a>

            </div>

            <div class="moreoptions mt-4">
                <h3 class="text-sm ml-1">settings</h3>
                <a href="/home ">
                    <h3 class="hover ml-1 px-1 py-2 text-lg mt-3 font-semibold cursor-pointer">Tune your feed</h3>
                </a>
                <a href="/logout">
                    <h3 class="hover ml-1 px-1 py-2 text-lg mt-3 font-semibold cursor-pointer">Log out</h3>
                </a>

            </div>




        </div>

        <div class="searching hidden ">
            <p id="results" class="ml-4 hidden">No results were found</p>

        </div>


        <div class="searchpins hidden py-[100px] px-10  overflow-hidden ">

            <p class="hidden" id="pinsearch">No pins were found </p>


        </div>


        <div class="allpins w-full px-9 flex flex-wrap gap-7" style="height: calc(100% - 15%);
    overflow-x :hidden; overflow-y:auto ">



            <% allpins.forEach(function(pin){ %>


                <div class="pincontainer relative mb-4 ">
                    <div class="pin w-[260px] h-[360px] bg-zinc-900 rounded-2xl  relative">
                        <img src="<%= pin.image %>" alt="">
                    </div>


                    <a class="ml-1 mt-2 font-medium" href="/openpin/<%= pin._id %>">
                        <%= pin.title %>
                    </a>
                    <div class="pin-dets flex gap-2 items-center ">

                        <a href="/profile/<%= pin.user._id %>">
                            <div class="pinprofile overflow-hidden">
                                <img src="<%= pin.user.profile %>" alt="">

                            </div>
                        </a>


                        <a href="/profile/<%= pin.user._id %>" class="cursor-pointer" style="text-decoration: none;">

                            <p class="text-sm font-light">
                                <%= pin.user.username %>

                            </p>
                        </a>
                    </div>



                    <a href="/openpin/<%= pin._id %>">
                        <div class="overlay w-[260px] h-[360px] rounded-2xl  pt-5 ">

                            <div class="top flex gap-5 px-6">
                                <h3 class="text-white mt-2 whitespace-nowrap">
                                    <a href="/board/<%= pin._id %>/<%= pin.board %>">
                                        <%= pin.board %>
                                    </a>
                                    <span class="" style="font-size: 17px;"><i class="ri-arrow-down-s-line"></i></span>
                                </h3>


                                <% if(user.savedpins.indexOf(pin._id) === -1){ %>

                                    <a id="save" data-val="/save/<%= pin._id %>" href="/save/<%= pin._id %>" class="mt-2 text-white bg-[ #A35A69] rounded-2xl px-2">save</a>

                                    <% } else { %>
                                        <a id="unsave" data-val="/unsave/<%= pin._id %>" href="/unsave/<%= pin._id %>" class="mt-2 text-white bg-[ #A35A69] rounded-2xl px-2">saved</a>

                                        <% }   %>


                            </div>
                        </div>
                    </a>


                </div>


                <% })  %>

        </div>



    </div>


    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: "gilroy";
        }
        
        html,
        body {
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
        }
        
        .nav {
            position: relative;
            z-index: 1000;
        }
        
        #logo {
            fill:  #A35A69;
        }
        
        .buttons {
            cursor: pointer;
        }
        
        .buttons:hover {
            background-color: black;
            color: white;
            border-radius: 50px;
        }
        
        .search {
            position: relative;
            width: 68vw;
            background-color: #E1E1E1;
            border-radius: 50px;
        }
        
        .search input {
            outline: none;
            width: 95%;
            cursor: pointer;
            /* margin-left: 2vw; */
            border-radius: 50px;
            background-color: #E1E1E1;
            height: 100%;
            text-transform: capitalize;
            font-weight: 500;
        }
        
        .nav-2 {
            position: relative;
            background-color: #E9E9E9;
            width: 2vw;
            height: 2vw;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        
        .allpins::-webkit-scrollbar {
            display: none;
        }
        
        .pin {
            position: relative;
            overflow: hidden;
        }
        
        .pin img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
        
        .pinprofile {
            position: relative;
            width: 35px;
            height: 35px;
            background-color:  #A35A69;
            border-radius: 50%;
        }
        
        .pinprofile img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        
        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            background-color: rgba(0, 0, 0, 0.438);
            z-index: 99;
            opacity: 0;
        }
        
        .overlay:hover {
            opacity: 1;
        }
        
        .main-overlay {
            position: absolute;
            top: 10%;
            right: 1%;
            background-color: white;
            box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.319);
        }
        
        .hover {
            position: relative;
            border-radius: 10px;
            transition: all ease 3s;
            cursor: pointer;
        }
        
        .hover:hover {
            background-color: silver;
        }
        
        .searching {
            position: absolute;
            width: 65%;
            top: 11%;
            background-color: white;
            /* background-color: red; */
            z-index: 999;
            margin-left: 22%;
            border-radius: 10px;
            box-shadow: 2px 2px 1px silver;
            overflow-x: hidden;
            overflow-y: auto;
        }
        
        .searching::-webkit-scrollbar {
            display: none;
        }
        
        .searchuserdetails {
            transition: all 5s;
        }
        
        #settings {
            z-index: 9999;
            position: absolute;
            right: 3vw;
            top: 9%;
            background-color:  #B5455C;
            color: rgb(255, 255, 255);
        }
        
        .searchuserdetails:hover {
            background-color: rgb(240, 234, 234);
        }
        
        .searchpins {
            width: 100%;
            height: 100%;
            position: absolute;
            background-color: white;
            z-index: 999;
            top: 0;
            left: 0;
        }
        
        .allpins {
            position: relative;
            z-index: 1000;
        }
        
        @media only screen and (max-width: 608px) {
            .nav {
                white-space: nowrap;
            }
            .part1 {
                gap: 0;
            }
            .nav .hide {
                display: none;
            }
            .nav #create {
                padding: 5px 9px;
                font-size: 14px;
                position: relative;
                right: 8%;
            }
            .nav .part2-nav {
                margin-top: 5px;
                margin-bottom: 0;
            }
            .nav #searchdiv {
                margin-right: 25px;
                width: 70vmax;
            }
            #searchdiv input {
                font-size: 13px;
                width: 95%;
                padding: 6px 15px;
            }
            #searchdiv i {
                color: #A35A69;
                font-size: 12px;
                font-weight: 500;
            }
            .searchusertext {
                white-space: nowrap;
            }
            .searchusertext a {
                font-size: 14px;
            }
            .searchuserdetails i {
                font-size: 15px;
            }
            .allpins {
                width: 100%;
                position: relative;
                display: flex;
                justify-content: center;
            }
            .allpins .pincontainer {
                position: relative;
                margin-left: 10%;
                width: 320px;
            }
            .pincontainer .pin {
                overflow: hidden;
            }
            .pincontainer .pin img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            .pincontainer .overlay {
                overflow: hidden;
            }
            .searchpins {
                /* position: relative; */
                width: 100%;
                height: 85%;
                display: flex;
                justify-content: center;
                z-index: 999;
                top: 10%;
                overflow-y: auto;
            }
            .searchpins::-webkit-scrollbar {
                display: none;
            }
            .searchpins #pinsearch {
                font-size: 15px;
                font-weight: 500;
            }
            .searchpins .searchpincontainer {
                position: relative;
                width: 95%;
                margin-left: 3%;
                margin-bottom: 25px;
            }
            .searchpincontainer .pin {
                width: 35vmax;
                height: 25vh;
            }
        }
    </style>





    <script>
        // Display first letter of the username
        const username = `<%= user.username %>`;
        document.querySelector("#firstletter").textContent = username.charAt(0);
    
        // Toggle settings display
        let isSettingsVisible = false;
        document.querySelector("#set").addEventListener("click", () => {
            isSettingsVisible = !isSettingsVisible;
            document.querySelector("#settings").style.display = isSettingsVisible ? "block" : "none";
        });
    
        // Show search input and cancel button
        const searchInput = document.querySelector("#searchinput");
        const searchSection = document.querySelector(".searching");
        const allPins = document.querySelector(".allpins");
        const cancelButton = document.querySelector("#cancel");
    
        searchInput.addEventListener("click", () => {
            document.querySelector("#search").style.display = "none";
            cancelButton.style.display = "block";
            searchSection.style.display = "block";
        });
    
        // Reset search field and view
        cancelButton.addEventListener("click", () => {
            searchInput.value = "";
            document.querySelector("#search").style.display = "block";
            searchSection.style.display = "none";
            document.querySelector(".searchpins").style.display = "none";
            allPins.style.display = "flex";
        });
    
        // Perform user and pin search
        let userResults = "";
        let pinResults = "";
    
        searchInput.addEventListener("input", function(event) {
            const query = event.target.value.trim();
    
            if (query === "") {
                allPins.style.display = "flex";
                return;
            }
    
            allPins.style.display = "none";
    
            // User search
            axios.get(`/search/${query}`)
                .then(response => {
                    if (response.data.length > 0) {
                        userResults = response.data.map(user => `
                            <a href="/profile/${user._id}" class="searchuserdetails cursor-pointer flex gap-5 items-center px-6 py-2">
                                <i class="ri-search-line"></i>
                                <div class="searchuserprofile cursor-pointer w-[40px] h-[40px] rounded-full overflow-hidden">
                                    <img class="w-full h-full object-cover" src="${user.profile}" alt="">
                                </div>
                                <div class="searchusertext flex flex-col leading-none">
                                    <h3 class="cursor-pointer">${user.username}</h3>
                                    <p class="cursor-pointer">${user.fullname}</p>
                                </div>
                            </a>`).join('');
                        searchSection.innerHTML = userResults;
                    } else {
                        document.querySelector("#results").style.display = "block";
                        document.querySelector(".searchpins").style.display = "block";
                    }
                })
                .catch(error => console.error('Error fetching user data:', error));
    
            // Pin search
            axios.get(`/search/pin/${query}`)
                .then(response => {
                    if (response.data.length > 0) {
                        pinResults = response.data.map(pin => `
                            <a href="/openpin/${pin._id}" class="searchpincontainer inline-block mr-8">
                                <div class="pin w-[220px] h-[320px] bg-[#A35A69] rounded-3xl overflow-hidden">
                                    <img class="w-full h-full object-cover" src="${pin.image}" alt="">
                                </div>
                                <h4 class="ml-2">${pin.title}</h4>
                                <div class="pindets flex gap-3 items-center">
                                    <a href="/profile/${pin.user._id}">
                                        <div class="pinprofile w-[40px] h-[40px] rounded-full overflow-hidden">
                                            <img class="w-full h-full object-cover rounded-full" src="${pin.user.profile}" alt="">
                                        </div>
                                    </a>
                                    <a href="/profile/${pin.user._id}">${pin.user.username}</a>
                                </div>
                            </a>`).join('');
                        document.querySelector(".searchpins").innerHTML = pinResults;
                    } else {
                        document.querySelector("#pinsearch").style.display = "block";
                    }
                })
                .catch(error => console.error('Error fetching pin data:', error));
        });
    </script>
    

    <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>


</body>

</html>